# Archivos de Eclipse 

#archivos Java
*.class
*.war
*.ear

#Archivos de sistema operativo
.DS_Store
.Trashes
*~
Thumbs.db


# Archivos de artefactos de construccion

.gradle/
build/
out/
bin/
target/

